.weatherWrapper {    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weatherText {
    color: #1fc063;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    .blockContainer {
        border: 8px dashed #1fc063;
        width: 400px;
        height: 220px;
        margin-right: 100px;
        margin-left: 100px;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
                .contentInformation {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #1fc063;
                    font-size: 24px;
                    font-family: 'monofonto';
                    margin-left: 23px;
                        p {
                            margin-left: 13px;
                            color: #1fc063;
                            font-family: 'monofonto';
                            font-size: 24px;
                            text-shadow: none;
                        }
                }
                .contentWeather {
                    display: flex;
                    flex-direction: column;
                    color: #1fc063;
                    margin-bottom: 50px;
                        .contentPrecipitation {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                                .faCloud {
                                    width: 40px;
                                    height: 40px;
                                    padding-left: 20px;
                                }
                        }
                    p {
                        margin-left: 15px;
                        color: #1fc063;
                        font-family: 'monofonto';
                        font-size: 24px;
                        text-shadow: none;
                    }
                }

        }
    }    
}