.dataWrapper {
    grid-area: cont;
    padding: 5px;
    grid-template-areas:
    "todo";
    grid-template-rows: 1fr 10fr 4fr;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    border: 8px dashed #1fc063;
    max-height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.dataText {
    color: #1fc063;
    text-decoration: none;
    font-family: 'monofonto';
    font-size: 24px;
    list-style: none;
}
input:focus{
    outline: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.command {
  background-color: transparent;
  color:rgb(50,255,0);
  font-family:"VT323",monospace;
  border: none;
  width: 90%;
  outline: none;
  box-shadow: none;
  padding: 0;
  letter-spacing: .1em;
    -webkit-font-smoothing: none;
    line-height: 1.2;
      font-family:"VT323",monospace;
      color: #1fc063;
}
.console{
  padding:15px;
  margin-bottom: 300px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}


.errorContent {
  padding: 50px;
  
  .error {
    background-color: transparent;
    color:rgb(255,55,0);
    font-family:"VT323",monospace;
    letter-spacing: .1em;
    font-size: 20px;
    -webkit-font-smoothing: none;
    line-height: 1.2;
    animation: blink 0.9s infinite;
  }
}

.typeContent {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  font-family:"VT323",monospace;
  color: #1fc063;
  resize: none;
    .typing {
      overflow: hidden;
      white-space: nowrap;
      animation: 
        typing 1.5s steps(30, end),
    }
}

.terminalInput {
  width: 100%;
  .line {
    font-size: 14px;
    font-family:"VT323",monospace;
    color: #1fc063;
  }
}