.listWrapper {
    display: flex;
    margin: 0 -5px;
    grid-area: l;
}

.listText {
    display: flex;
    flex-direction: column;
    color: #1fc063;
    font-family: 'monofonto';
    list-style-type: none;
    font-size: 24px;
}

.listText li {
    margin-bottom: 1em;
}

li {
    cursor: pointer;
}

.active {
    outline: 2px solid;
    background: rgba(25, 255, 129, 0.2);
}

.nonactive {
    background-color: #000000;
}
