.statsWrapper {
    display: grid;
    grid-template-areas:
    "n"
    "cont";
    grid-template-rows: 1fr 16fr 1fr; 
}

.navbar {
    grid-area: n;
    display: flex;
    justify-content: center;
}

.navbarText {
    font-family: 'monofonto';
    text-decoration: none;
    font-size: 30px;
    color: #1fc063;
}