.inventoryText {
    color: #1fc063;
    text-decoration: none;
    font-size: 24px;
}

.weaponsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    .img {
        width: 250px;
    }
}

.card {
    background-color: #000000;
    display: block;
    width: 400px;
    min-height: 130px;
    cursor: pointer;
    padding: 15px;
    padding-right: 50px;
    margin: 5px;
    border: 2px solid #1fc063;
    p {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
        font-family: 'monofonto';
    }
    h2 {
        font-size: 16px;
        font-family: 'monofonto';
        font-weight: normal;
    }
}

.active {
    outline: 2px solid #1fc063;
    background: rgba(25, 255, 129, 0.2);
}

.nonactive {
    background-color: #000000;
    border: 1px solid #1fc063
}

.content {
    border: 2px solid #1fc063;
}

@media (max-width: 1390px) {
    .card {
        background-color: #000000;
        display: block;
        width: 300px;
        min-height: 130px;
        cursor: pointer;
        padding: 10px;
        padding-right: 20px;
        margin: 2px;
        border: 2px solid #1fc063;
    }

    .weaponsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 55px;
        max-width: 1390px;
        .img {
            width: 220px;
        }
    }

    .content {
        max-width: 220px;
        max-height: 220px;
    }
}