.inventoryText {
    color: #1fc063;
    text-decoration: none;
    font-size: 24px;
}

.weaponsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.content {
    grid-area: content;
}

.card {
    background-color: #000000;
    display: block;
    width: 300px;
    min-height: 90px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
    border: 2px solid #1fc063;
    p {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
        font-family: 'monofonto';
    }
    h2 {
        font-size: 16px;
        font-family: 'monofonto';
        font-weight: normal;
    }
}

.img {
    width: 250px;
}

