.radioWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.radioText {
    color:#1fc063;
    font-family: 'monofonto';
    font-size: 24px;
    padding-bottom: 60px;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbarText {
    font-family: 'monofonto';
    text-decoration: none;
    font-size: 30px;
    color: #1fc063;
}

.navbar {
    grid-area: n;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    grid-area: cont;
    margin: 50px;
    padding-right: 500px;
}

.graph {
    grid-area: graph;
}

.list {
    margin-right: 50px;
}

.radioWaveGraph {
    min-width: 400px;
    min-height: 400px;
    border-bottom: 8px dashed #1fc063;
    border-right: 8px dashed #1fc063;
}