/* .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 400px;
    border-bottom: 8px dashed #1fc063;
    border-right: 8px dashed #1fc063;
} */

#waveform {
    min-width: 400px;
    min-height: 400px;
    border-bottom: 8px dashed #1fc063;
    border-right: 8px dashed #1fc063;
}