.listWrapper {
    display: flex;
    margin: 0 -5px;
    grid-area: l;
    flex-direction: column;
    width: 1000px;
}

.listText {
    color: #1fc063;
    font-family: 'monofonto';
    list-style-type: none;
    font-size: 24px;
    padding: 5px;
}

.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 1em;
}

.active {
    outline: 2px solid #1fc063;
    background: rgba(25, 255, 129, 0.2);
}

.nonactive {
    background-color: #000000;
    border: 1px solid #1fc063;
}

@media (max-width: 1390px) {
    .listWrapper {
        max-width: 1350px;
    }
    .tableRow {
        margin: 0.5em;
    }
    .listWrapper {
        width: 700px;
    }
    .listText {
        padding: 2px;
        font-size: 22px;
    }
}