@import "../../library/styles/globalStyles.scss";
 
.headerWrapper {
    grid-area: h;
    border-bottom: 3px solid #1fc063;
    display: flex;
    justify-content: center;
}

.headerOrder {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerText {
    margin-right: 70px;
    margin-left: 70px;
    font-family: 'monofonto';
    text-decoration: none;
    color: #1fc063;
    font-size: 30px;
}