@import "../../library/styles/globalStyles.scss";
 
.headerWrapper {
    grid-area: h;
    border-bottom: 3px solid #1fc063;
    display: flex;
    justify-content: center;
}

.headerOrder {
    display: flex;
    align-items: center;
}

.headerText {
    margin-right: 70px;
    margin-left: 70px;
    font-family: 'monofonto';
    text-decoration: none;
    color: #1fc063;
    font-size: 30px;
}

.activeHeader {
    outline: 2px solid #1fc063;
    background: rgba(25, 255, 129, 0.2);
    padding-right: 10px;
    padding-left: 10px;
}


@media (max-width: 1390px) {
    .headerWrapper {
        max-width: 1350px;
    }
    .headerText {
        margin-right: 40px;
        margin-left: 40px;
        font-family: 'monofonto';
        text-decoration: none;
        color: #1fc063;
        font-size: 26px;
    }
}