.footerWrapper {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
}

.footerBlock {
    border: 3px solid #1fc063;
    height: 40px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    .lvlblock {
        height: 20px;
        width: 100px;
        border: 2px solid #1fc063;
        padding-right: 100px;
        background-color: #1fc063;
    }
}

.footerTextAndOrder {
    color: #1fc063;
    font-family: 'monofonto';
    font-size: 30px;
}

@media (max-width: 1390px) {
    .footerWrapper {
        max-width: 1350px;
    }

    .footerTextAndOrder {
        color: #1fc063;
        font-family: 'monofonto';
        font-size: 26px;
    }
}