.footerWrapper {
    grid-area: f;
    border-top: 3px solid #1fc063;
}

.footerTextAndOrder {
    color: #1fc063;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: 'monofonto';
    font-size: 30px;
    margin-right: 1310px;
}