@import-normalize;

.appWrapper {
    display: grid;
    grid-template-areas:
    "h"
    "cont"
    "f";
    grid-template-rows: 1fr 13fr 2fr;
    grid-template-columns: 1fr;   
}

.appStyles {
    background-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}