.specialWrapper {
    display: grid;
    grid-template-areas:
    "l c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 10fr 10fr;
    grid-area: cont;
    padding: 55px;
    margin: 5px;
}

.centralizeWrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 1390px) {
    .specialWrapper {
        max-width: 1300px;
        grid-template-columns: 1fr 0fr;
    }
}